        body {
            font-family:'Courier New', Courier, monospace;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: rgb(188, 144, 175);
            color: #f2f2f2;

        }

        #heading {
            color: white;
            padding: 20px;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            background: url(header2.jpg);
        }

        .container {
            display: flex;
            flex: 1; 
            gap: 20px;
            margin-top: 20px;
        }

        #menu { flex: 1; }
        #middle { flex: 4; }
        #side {
            flex: .8;
            background: url(header2.jpg);
            color: white;
            padding: 15px;
        }

        #menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        #menu li:hover{
            background-color: #6d4d6b;
            color: #f2f2f2;
    
        }
        #menu a.s3 li {
            background-color: #6d4d6b;
            color: #ffffff;
        }
        #menu li {
            margin-bottom: 5px;
            padding: 10px;
            border: 1px solid #000000;
            color: #f2f2f2;
        }

        #menu a { text-decoration: none; color: black; }

        @media (max-width: 900px) {
            .container {
                flex-wrap: wrap;
            }

        #menu { flex: 1; } 
        #middle { flex: 3; }

        #side {
            flex: 100%;     
            margin-top: 20px;
        }
    }

        @media(max-width:600px){
            .container{
                flex-direction: column;
        
            }
            #menu, #middle{
                width: 100%;
            }
        }

        footer {
            background-color: #816279;
            border: 1px solid #000000;
            padding: 20px;
            margin-top: 20px;
            width: 100%;
            box-sizing: border-box;
        }
